<div class="container ">
  <h2 class="text-center">QUOTES</h2><hr>
  <div class="row">   
  <div class="col-md-12" style="margin-left: 30px;"> 
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
</div>
<div class="row">
  <div class="col-md-3 "*ngFor= 'let quote of quotes;let i =index'>
    <div class="card">
        <div class="card-body"  >
          
          <p class="card-text"> "{{quote.quote}}"<br>  <small> ~{{quote.quoteWritter}}</small></p>
          <p class="card-text text-muted"><small style="font-style: italic;"> Written by :{{quote.quotePoster}} <br>Posted {{quote.timePassed|dateCount}} days ago</small></p>
          <button class="btn btn-info" (click)='toggleDetails(i)'>Show Details</button>
         <app-quote-details *ngIf = 'quote.showDescription' [quote]='quotes'   (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
        </div>
      </div>
    </div>
    </div>
  </div>
  
