<div class="container">
    <div class="container  form" style="margin-left: 200px;">
    <form  (ngSubmit)='submitQuote()'  #quoteForm='ngForm'>
        <h3>New Quote</h3><hr>

        <div class="form-group">
  
            <label for="name">Quote by:</label>
            <input type="text" required class="form-control" [(ngModel)]="newQuoteConstructor.quoteWritter" [ngModelOptions]="{standalone: true}" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="description">Quote:</label>
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuoteConstructor.quote" [ngModelOptions]="{standalone: true}" required></textarea>
  
        </div>
        <div class="form-group">
  
            <label for="poster">Posted by:</label>
            <input type="text" required class="form-control" [(ngModel)]="newQuoteConstructor.quotePoster" [ngModelOptions]="{standalone: true}" id="poster">
  
        </div>
        <button  type="submit" class="btn btn-dark ">POST</button>
        
        
    </form>
</div>
  </div>
